{% extends 'base.jinja2' %}

{% block content %}
    <div id="content"></div>
    <script src="{{ 'homepage.js' | webpack }}" type="text/javascript"></script>
    <script src="{{ 'clock.js' | webpack }}" type="text/javascript"></script>
{% endblock content %}